.usersContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 250px;
}

.user {
    width: 200px;
    margin-top: 10px;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #fff;

}

.user span {
    display: inline-block;
    margin-bottom: 10px;
}