.message {
    display: flex;
    align-items: baseline;
    padding: 15px 15px 25px;
    background-color: #e1ae89;
    min-height: 150px;
}

.avatar {
    align-self: flex-end;
    width: 50px;
    height: 50px;
}

.avatar img {
    max-width: 100%;
    border-radius: 50%;
}

.user_name {
    color: #52cbcb;
    font-size: 16px;
    font-weight: bold;
}

.user_text {
    color: white;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

.time_stamp {
    color: #52cbcb;
    font-size: 14px;
    align-self: flex-end;
}

.circular, .circular::before, .circular::after {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
    background-color: rgb(147, 161, 185);
    border-radius: 50%;
}

.circular {
    font-family: arial, sans-serif;
    color: #fff;
    text-align: center;
    padding: 30px 30px;
    max-width: 300px;
    position: relative;
}

.circular::before, .circular::after {
    content: '';
    position: absolute;
}

.circular::before {
    width: 20px;
    padding: 20px;
    right: 10px;
    bottom: -30px;
}

.circular::after {
    width: 10px;
    padding: 10px;
    right: 0;
    bottom: -50px;
}