.affairsContainer {
}

/*.button {*/
/*    margin: 10px;*/
/*    width: 60px;*/

/*    background: #49495b;*/
/*    color: #99ff99;*/
/*    outline: none;*/
/*    border-radius: 8px;*/
/*}*/

.button:focus {
    outline: #a58baf solid 1px;
}

.button.active {
    background: #48b6c5;
}

.affair {
    display: flex;
    align-items: center;
}

.affair .deleteBtn {
    padding: 6px;
    border-radius: 2px;
}

.item {
    font-size: larger;
    padding-left: 5px;
}

.high {
    color: red;
    border-left: 2px solid red;
}

.middle {
    color: #d9f104;
    border-left: 2px solid #d9f104;

}

.low {
    color: #30b92d;
    border-left: 2px solid #30b92d;

}

.high {
    color: red;
}