.header {
    background-color: #acc6d9;
    min-height: 80px;
}

.navContainer {
    display: flex;
    align-items: center;
    padding: 5px;
    width: 500px;
    position: relative;
    left: -400px;
    transition: left .4s ease;

}

.navContainer.visible {
    transition: left .4s ease;
    left: 0;
}

.navContainer a {
    display: inline-block;
    padding-top: 10px;
    text-align: center;

    text-decoration: none;
    color: #f6f1f1;

    font-size: larger;
}

.navContainer button {
    display: inline-block;
    background: #699cc0;
    padding: 10px 15px;
    border-radius: 50%;

    border: none;
    margin-left: 20px;
}

button:hover {
    background-color: #536672;
    cursor: grabbing;
}


button:active {
    background-color: transparent;
}