.default {
    background: #acc6d9;
}

.default-text {
    color: #404549;
}

.dark {
    background: dimgrey;
}

.dark-text {
    color: aliceblue;
}

.light {
    background: #d4e3cb;
}

.light-text {
    color: #063a0a;
}

.red {
    background: lightcoral;
}

.red-text {
    color: aqua;
}

.light-green {
    background: lightgreen;
}

.light-green-text {
    color: darkslateblue;
}